<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
    <ion-button color="success" slot="end" routerLink="./new">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="warning">
    <ion-label>
      <ion-text color="primary">All user's Notes</ion-text>
    </ion-label>
  </ion-item-divider>
  <app-list-note></app-list-note>

</ion-content>