
<ion-header>
  <div class="head">
    <div class="title"><p class='title-text'>NOTES</p>
      <ion-buttons class="back">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons></div>
    <div class="bar">
      <ion-button color="success" slot="end" routerLink="./new">
        New<ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  </ion-header>

<ion-content>
  <div class="divider line glow">All Notes</div>
  <app-list-note ion-padding></app-list-note>
  <ion-ripple-effect></ion-ripple-effect>
</ion-content>
<app-footer></app-footer>