<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/malf"></ion-back-button>
    </ion-buttons>
    <ion-title>All Daily Planner's Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="warning">
    <ion-label>
      <ion-text color="primary">Check All Daily Notes</ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-list>
    <ion-item-sliding *ngFor="let malf of malfs">
      <ion-item color="light" (click)="details(malf.id)">
        <ion-icon name="list-box" slot='start'></ion-icon>
        <ion-text>
          <h3>{{malf?.title}}</h3>
        </ion-text>
        <ion-note slot="end">{{malf?.date | date:'dd.MM.yyyy'}}</ion-note>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="delete(malf.id)">
          <ion-icon slot="end" name="close"></ion-icon>
          Delete
        </ion-item-option>
        <ion-item-option color="warning" (click)="edit(malf.id)">
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="secondary" (click)="details(malf.id)">
          <ion-icon name="more"></ion-icon>
          Details
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item ion-padding='off' *ngIf="!empty">
    <ion-icon slot="end" name="arrow-back"></ion-icon>
    <ion-icon slot="end" name="finger-print"></ion-icon>
    <p> Swipe Note to the Left</p>
  </ion-item>
  <ion-item ion-padding='off' *ngIf="empty">
    <ion-icon slot="end" name="arrow-up"></ion-icon>
    <p>Create New</p>
  </ion-item>
</ion-content>