<ion-header>
  <div class="head">
    <div class="title">
      <p class='title-text'>HOME</p>
    </div>
    <div class="bar">
      <div class='btn' (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="img">
      <div class="logo">
        <p>Ionic<b>app</b></p>
      </div>
      <div class="navbar">
      <div class="home note" (click)="toNotes()">
        NOTES 
        </div><span class="note">Record your Thoughts and use when you need them</span>
      <br>
      <div class="home malf" (click)="toMalf()">
        MANAGE LIFE
      </div>
      <span class="malf">Plan your Day for every area in life</span>
      <br>
      <div class="home quiz" (click)="toQuiz()">
        QUIZ
      </div>
      <span class="quiz">Test your knowledge </span>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>