<ion-header>
  <ion-toolbar>
    <ion-title>
      goran_b Ionic App
    </ion-title>
    <ion-button color="primary-contrast" slot="end" (click)="logout()">
      <ion-icon name="power" size="small"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="warning">
    <ion-label>
      <ion-text color="primary">Home page</ion-text>
    </ion-label>
  </ion-item-divider>

  <h3 ion-padding class="main-selection-header"><img src="../../assets/icon/favicon.png" alt="logo" /> Welcome
    {{userName}}</h3>
  <div class="main-body">
    <div class="main-selection-wrapper ion-activatable">
      <ion-item-divider color="warning">
        <ion-label>
          <ion-text color="primary" slot="center">Notes</ion-text>
        </ion-label>
      </ion-item-divider>
      <a [routerLink]="['/notes']" class="main-selection">
        <ion-icon name="list-box" slot='center'></ion-icon>
        <ion-text color="primary" slot='start'>Notes</ion-text>
      </a>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="main-selection-wrapper ion-activatable">
      <ion-item-divider color="warning">
        <ion-label>
          <ion-text color="primary">Daily Planner</ion-text>
        </ion-label>
      </ion-item-divider>
      <a [routerLink]="['/malf']" class="main-selection">
        <ion-icon name="compass"></ion-icon> Plan your day
      </a>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="main-selection-wrapper ion-activatable">
      <ion-item-divider color="warning">
        <ion-label>
          <ion-text color="primary">Quiz</ion-text>
        </ion-label>
      </ion-item-divider>
      <a (click)="toQuiz()" class="main-selection">
        <ion-icon name="help-circle"></ion-icon> Test your knowledge
      </a>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</ion-content>