<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="" alt="" class="ion-padding" />
  <h3 class="main-selection-header">Dobrodošli</h3>
  <div class="main-body">
    <div class="main-selection-wrapper ion-activatable">
      <a [routerLink]="" class="main-selection">
        <ion-icon name="list-box"></ion-icon>Notes
      </a>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="main-selection-wrapper ion-activatable">
      <a [routerLink]="" class="main-selection">
        <ion-icon name="compass"></ion-icon>Malf
      </a>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</ion-content>