<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/note"></ion-back-button>
    </ion-buttons>
    <ion-title> Note {{note?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-fab slot="end" horizontal="end">
      <ion-fab-button color="light">
        <ion-icon name="arrow-dropdown"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button color="danger" (click)="delete(note.id)">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="warning" (click)="edit(note.id)">
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-item>
      <ion-icon name="checkmark" slot='start'></ion-icon>
      <ion-text>
        <h3>{{note?.title}}</h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" slot='start'></ion-icon>
      <ion-text>
        <h3>{{note?.date|date:'dd.MM.yyyy'}}</h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="list" slot='start'></ion-icon>
      <ion-text>
        <h4>{{note?.text}}</h4>
      </ion-text>
    </ion-item>

  </ion-list>
</ion-content>