<ion-header>
  <div class="head">
    <div class="title"><p class='title-text'>NEW DAILY NOTE</p>
      <ion-buttons class="back">
        <ion-back-button defaultHref="/malf"></ion-back-button>
      </ion-buttons></div>
    <div class="bar">
      <span>Manage your Day</span>
    </div>
  </div>
  </ion-header>
  
<ion-content>
  <div class="divider line glow">Make New Note</div>

  <form [formGroup]="form">
    <ion-list ion-padding>
      <ion-item>
        <ion-icon name="copy" slot='start'></ion-icon>
        <ion-label position="stacked" color="primary">Title</ion-label>
        <ion-input formControlName="title" type='text' size="12"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="calendar" slot='start'></ion-icon>
        <ion-label position="stacked">For Date</ion-label>
        <ion-datetime formControlName="date" displayFormat="DD MMM YYYY"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-icon name="heart" slot='start'></ion-icon>
        <ion-label position="stacked">Relationship/Family</ion-label>
        <ion-input formControlName="relationship" type="text">
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-icon name="briefcase" slot='start'></ion-icon>
        <ion-label position="stacked">Job</ion-label>
        <ion-input formControlName="job" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="fitness" slot='start'></ion-icon>
        <ion-label position="stacked">Physical Health</ion-label>
        <ion-input formControlName="physical" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="happy" slot='start'></ion-icon>
        <ion-label position="stacked">Spiritual Health</ion-label>
        <ion-input formControlName="spiritual" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="contacts" slot='start'></ion-icon>
        <ion-label position="stacked">Social Connections</ion-label>
        <ion-input formControlName="social" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="logo-usd" slot='start'></ion-icon>
        <ion-label position="stacked">Material Status</ion-label>
        <ion-input formControlName="material" type="text">
        </ion-input>
      </ion-item>

    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="onSave(form)" color="primary" shape="full" expand="block">Save</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>