<ion-list>
  <ion-item>
    <ion-icon name="copy" slot='start'></ion-icon>
    <ion-text>
      <h3>{{malf?.title}}</h3>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="calendar" slot='start'></ion-icon>
    <ion-text>
      <h3>{{malf?.date}}</h3>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="heart" slot='start'></ion-icon>
    <ion-text>
      <h3>{{malf?.relationship}}</h3>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="briefcase" slot='start'></ion-icon>
    <ion-text>
      <h3>{{malf?.job}}</h3>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="fitness" slot='start'></ion-icon>
    <ion-text>
      <h3>{{malf?.physical}}</h3>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="happy" slot='start'></ion-icon>
    <ion-text>
      <h3>{{malf?.spiritual}}</h3>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="contacts" slot='start'></ion-icon>
    <ion-text>
      <h3>{{malf?.social}}</h3>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="logo-usd" slot='start'></ion-icon>
    <ion-text>
      <h3>{{malf?.material}}</h3>
    </ion-text>
  </ion-item>

</ion-list>