<form [formGroup]="form">

  <ion-grid>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-padding">
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-input type="email" placeholder="example@email.com" formControlName="email" required>
            </ion-input>
          </ion-item>

          <span *ngIf="!form.controls.email.valid && form.controls.email.touched" class="help-block">
            Enter valid email!
          </span>
          <ion-item>
            <ion-icon name="lock" slot="start"></ion-icon>
            <ion-input formControlName="password" [type]="show ? 'text' : 'password'" #password placeholder="Password"
              maxlenght="100" minlength="6" #password="ngModel" required></ion-input>
            <ion-icon (click)="togglePassword()" [name]="show ? 'eye' : 'eye-off'"></ion-icon>
          </ion-item>
          <span *ngIf="!form.controls.password.valid && form.controls.password.touched" class="help-block">
            Enter valid password!
          </span>
        </div>

        <div class="ion-padding">
          <ion-button size="large" (click)="onLogin(form)" [disabled]="form.invalid" expand="block" color="primary">
            Login
          </ion-button>
        </div>
        <ion-text class="ion-padding ion-text-center">
          <p> Don't have an account?<a [routerLink]="['/auth/sign-up']">Sign up</a></p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>