<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/malf"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Life Note {{malf?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="warning">
    <ion-label>
      <ion-text color="primary">Note's details</ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-list lines="inset">
    <ion-fab slot="end" horizontal="end">
      <ion-fab-button color="light">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button color="danger" (click)="delete(malf.id)">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="warning" (click)="edit(malf.id)">
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-list-header color="primary">
      <ion-icon name="copy" slot='start'></ion-icon>
      <ion-text>
        <h3 *ngIf='malf.title !== ""'>{{malf?.title}}</h3>
        <h3 *ngIf='malf.title === "" && malf.date !==""'>{{malf?.date|date:'dd MMM yyyy'}}</h3>
      </ion-text>
    </ion-list-header>

    <ion-item>
      <ion-icon name="calendar" slot='start' color="dark"></ion-icon>
      <ion-text>
        <h3>{{malf?.date|date:'dd MMM yyyy'}}</h3>
      </ion-text>
    </ion-item>

    <ion-item *ngIf='malf.relationship !== ""'>
      <ion-icon name="heart" slot='start' color="dark"></ion-icon>
      <ion-text>
        <h3>{{malf?.relationship}}</h3>
      </ion-text>
    </ion-item>

    <ion-item *ngIf='malf.job !== ""'>
      <ion-icon name="briefcase" slot='start' color="dark"></ion-icon>
      <ion-text>
        <h3>{{malf?.job}}</h3>
      </ion-text>
    </ion-item>

    <ion-item *ngIf='malf.physical !== ""'>
      <ion-icon name="fitness" slot='start' color="dark"></ion-icon>
      <ion-text>
        <h3>{{malf?.physical}}</h3>
      </ion-text>
    </ion-item>

    <ion-item *ngIf='malf.spiritual !== ""'>
      <ion-icon name="happy" slot='start' color="dark"></ion-icon>
      <ion-text>
        <h3>{{malf?.spiritual}}</h3>
      </ion-text>
    </ion-item>

    <ion-item *ngIf='malf.social !== ""'>
      <ion-icon name="contacts" slot='start' color="dark"></ion-icon>
      <ion-text>
        <h3>{{malf?.social}}</h3>
      </ion-text>
    </ion-item>

    <ion-item *ngIf='malf.material !== ""'>
      <ion-icon name="logo-usd" slot='start' color="dark"></ion-icon>
      <ion-text>
        <h3>{{malf?.material}}</h3>
      </ion-text>
    </ion-item>

  </ion-list>
</ion-content>