<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Life</ion-title>
    <ion-button color="primary" slot="end" routerLink="./new">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-last-malf></app-last-malf>
  <app-list-malf></app-list-malf>

  <ion-button expand="block" routerLink="./history">A block button</ion-button>

</ion-content>