ion-title{
    padding-left: 0px;
}
body{
	height: 100%;
}

.head{
	position: sticky;
	width: 100%;
	height: 100px;
	left: 0px;
	top: 0px;
	background: white;
	box-shadow: 0px -4px 0px rgba(65, 130, 177, 0.65), 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.title{	
	width: 100%;
	height: 100%;
	background: #096EB8;
	clip-path: polygon(0 0%, 55% 0, 43% 100%, 0% 100%);
}

.title-text{
	position: absolute;
	height: 28px;
	left: 20px;
	top: 10px;
	font-style: bold;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

.back{
	position: absolute;
	height: 28px;
	left: 20px;
	top: 60px;
	font-style: bold;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

.bar{
	position: absolute;
	display:block;
	height: 100px;
	right: 0px;
	top: 0px;
    line-height: 75px;
    font-size: 30px;
}
ion-content{
	height: calc(100% - 175px);
	overflow: auto;
}
app-footer{
	height: 75px;
}

.divider {
	display: flex;
	
	&:before,
	&:after {
	  content: "";
	  flex: 1;
	}
  }
  .line {
	align-items: center;
	margin: 1em -1em;
	
	&:before,
	&:after {
	  height: 1px;
	  margin: 0 1em;
	}
  }
  .glow {
    &:before,
    &:after {
      height: 6px;
      -webkit-filter: blur(5px);
      border-radius: 5px;
    }
    
    &:before {
      background: linear-gradient(to right, #096EB8, rgba(65, 130, 177, 0.65));
    }
    
    &:after {
      background: linear-gradient(to left, #096EB8, rgba(65, 130, 177, 0.65));
    }
  }

